input {
    width: 20%;
    padding: 10px;
    margin: 2%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.2em;
}

.nonprofit-emails {
    width: 50%;
}

button {
    width: 15%;
    background-color: #ffbf33;
    color: black;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size: larger;
    margin: 2%;
}

button:hover {
    background-color: #e7bc5f;
}

/* mobile view */
@media (max-width: 600px) {
    input {
        width: 90%;
    }

    .nonprofit-emails {
        width: 90%;
    }

    button {
        width: 90%;
    }
}